form {
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	font-color: #4c565e;
}

h1 {
	display: inline-block;
	box-sizing: border-box;
	color: #4c565e;
	font-size: 24px;
	padding: 2px 8px;
	border-bottom: 2px solid #6caee0;
	margin-bottom: 20px;
}